@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.icon-button {
    @apply p-2 rounded-full active:bg-gray-100;
}


select {
    @apply p-2.5 bg-gray-50 rounded-xl border-gray-300 border;
}

.row-gap {
    @apply flex gap-2 items-center;
}

.row-between {
    @apply flex justify-between items-center;
}

.flex-center {
    @apply flex justify-center items-center;
}
.flex-col-center {
    @apply flex flex-col justify-center items-center;
}

.label {
    @apply text-lg font-bold text-gray-700;
}

.input {
    @apply block disabled:cursor-not-allowed disabled:opacity-50 rtl:text-right p-2.5 bg-gray-50 text-gray-900 border border-gray-300  text-sm rounded-lg;
}

input[type="checkbox"] {
    @apply h-5 w-5;
}

.horizontal-add-button {
    @apply border-2 border-dashed h-16 p-4 w-full text-gray-600 flex justify-center items-center hover-feedback;
}

.right-sidebar {
    @apply absolute top-0 right-0 z-10 border-l bg-white h-screen w-screen;
}

.hover-feedback {
    @apply pointer-feedback:bg-gray-200;
}

input[type="color"]::-moz-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}


input[type="text"], input[type="number"] {
    @apply border py-1 px-2 rounded-md;
}

.dragging {
    @apply opacity-50 shadow-lg ring-2 ring-green-800;
}

.drag-over {
    outline: 2px solid limegreen;
    outline-offset: -2px;
}

body {
    @apply overflow-hidden md:overflow-auto;
}

.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.main-content {
    @apply h-screen md:h-auto overflow-y-scroll md:overflow-auto pb-32 md:pb-0 scrollbar-hide;
}
