@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.icon-button {
    @apply p-2 rounded-full active:bg-gray-100;
}


select {
    @apply p-2.5 bg-gray-50 rounded-xl border-gray-300 border;
}

.row-gap {
    @apply flex gap-2 items-center;
}

.row-between {
    @apply flex justify-between items-center;
}

.flex-center {
    @apply flex justify-center items-center;
}

.label {
    @apply text-lg font-bold text-gray-700;
}

.input {
    @apply block w-full disabled:cursor-not-allowed disabled:opacity-50 rtl:text-right p-2.5 bg-gray-50 text-gray-900 border border-gray-300  text-sm rounded-lg;
}

input[type="checkbox"] {
    @apply h-5 w-5;
}

.horizontal-add-button {
    @apply border-2 border-dashed h-16 p-4 w-full text-gray-600 flex justify-center items-center hover-feedback;
}

.right-sidebar {
    @apply absolute top-0 md:static z-10 border-l bg-white h-screen w-screen;
}

@media (pointer: fine) {
    .hover-feedback:hover {
        background-color: rgb(243, 244, 246);
    }
}

@media (pointer: coarse) {
    .hover-feedback:active {
        background-color: rgb(243, 244, 246);
    }
}

input[type="color"]::-moz-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}
